<h1>Species Sightings</h1>

<h3><a href="/species/new">Add new species</a></h3>

<ul>
  <% @species.each do |species| %>
    <li><a href="species/<%= species.id %>"><%= species.name %></a></li>
  <% end %>
</ul>
