<h1>Species Saved</h1>

<p>Congratulations, species <%= @species.name %> has been saved to the database</p>

<p><a href="/species/<%= @species.id %>">View new species <%= @species.name %></a></p>
<p><a href="/species">Return to species listing</a></p>
